.circularProfilePic {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	background: url(../images/profile.png) no-repeat;
	/*box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);*/

	display: block;
    margin-left: auto;
    margin-right: auto;
}


.tags {
  list-style: none;
  margin: 0;
  margin-bottom: 1rem;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
}

.tag {
	font: 14px/1.5 'PT Sans', serif;
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none !important;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: #2F4F4F;
	text-decoration: none !important;
  color: white !important;
}

.tag:hover::after {
   border-left-color: #2F4F4F;
}

.page a {
  text-decoration: underline;
}

.post a {
  text-decoration: underline;
}

.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0px; 
}

.ad-unit {
  margin-bottom: 4em;
  margin-top: 4em;
}